@import url("../index.css");

.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidebar-list:hover {
  
}

li {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color-two);
  cursor: pointer;
}

li:hover {
  background-color: gold;
}

@media screen and (max-width: 620px) {
  .sidebar-list {
    flex-direction: row;
    gap: 40px;
    margin-top: 24px;
  }
}
